.lastBlockContainer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.lastBlockContent {
    /* border: solid; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#lastBlockContent1 {
    margin-left: 30px;
}

#lastBlockContent1>h3 {
    font-weight: lighter;
}

#lastBlockContent2 {
    width: 250px;
    height: 50px;
    margin-right: 30px;

}

#iconBlock {
    /* border: solid; */
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: sandybrown;
    transition: 300ms ease-in-out;
}

.lastBlockIcon {
    height: 70%;
    width: 70%;
}

#iconBlock:hover {
    background-color: #535a63;
}

@media screen and (max-width:600px) {
    .lastBlockContainer {
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 700px;
    }
}

@media screen and (max-width:990px) and (min-width:600px) {
    .lastBlockContainer {
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100px;
        width: 768px;
    }
}