/* 
.mainBlock {
    border: solid rgb(164, 163, 163);
    position: fixed;
    left: 110px;
    top: 100px;
    width: 100px;
    height: 500px;
    z-index: -1;
    background-color: red;
} */
