.logoContainer {
    /* border: solid; */
    width: 12%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -10px;
    color: white;

}

.logoContainer>img {
    height: 68%;
    width: 25%
}

.menuContainer {
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    font-size: small;
    margin-right: 50px;
    font-weight: bold;

}

.menuContent {
    border: solid transparent;
    width: 100px;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
}



.line1 {
    border-top: solid silver;
    width: 100px;
    height: 50px;
    top: 2px;
    transform: translateX(100px);
    position: absolute;
    transition: 600ms ease-in-out;
    z-index: -1;

}

.line2 {
    border-bottom: solid silver;
    width: 100px;
    height: 50px;
    bottom: 3px;
    transform: translateX(-100px);
    position: absolute;
    transition: 600ms ease-in-out;
    z-index: -1;

}

.menuContent:hover .line1 {
    transform: translateX(0px);
    color: silver
}

.menuContent:hover .line2 {
    transform: translateX(0px);
    color: silver
}

 .menuContentSpan{
    /* border: solid; */
    color: white;
}
.menuContentSpan>a{
    color: white;
    text-decoration: none;
}
.menuContent:hover .menuContentSpan>a {
    color: #bc683b
}