

.span1,.span2,.span3{
    /* border: solid; */
    position: absolute;
    color: white;
}
.span1{
    top: 100px;
    left: 60px;
}
.span2{
    top: 100px;
    left: 385px;
}
.span3{
    top: 100px;
    left: 705px;
}
@media screen and (max-width:600px) {
    .span1{
        
        top: 90px;
        left: 120px;
        font-weight: bold;
    }
    .span2{
        
        top: 175px;
        left: 120px;
        font-weight: bold;
    }
    .span3{
        
        top: 255px;
        left: 120px;
        font-weight: bold;
    }
}
@media screen and (max-width:990px) and (min-width:600px) {
    .span1{
        
        top: 70px;
        left: 120px;
        font-weight: lighter;font-size: small;
    }
    .span2{
        
        top: 140px;
        left: 120px;
        font-weight: lighter;font-size: small;

    }
    .span3{
        
        top: 213px;
        left: 120px;
        font-weight: lighter;font-size: small;
    }
}