.pg8Container {
    /* border: solid red; */
    height: 650px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: sandybrown;
}

.pg8HeadingContainer {
    /* border: solid red; */
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pg8HeadingContent {
    /* border: solid blue; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#pg8HeadingContent2 {
    /* border: solid; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    margin-top: 10px;
    color: white;
}

.pg8HeadingInnerContent {
    /* border: solid; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#pg8HeadingInnerContent1 {
    position: relative;
    width: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pg8HeadingInnerContent2 {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#pg8HeadingInnerContent2>h1 {
    font-size: 50px;
    font-weight: lighter;
}

.headerPg8Dot {
    border: solid grey;
    background-color: grey;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.headerPg8Line1 {
    border: 1px solid grey;
    position: absolute;
    right: 6px;
    width: 21.5px;

}

.headerPg8Line2 {
    border: 1px solid grey;
    position: absolute;
    right: 27px;
    top: 35px;
    height: 35px;

}

.headerPg8Line3 {
    border: 1px solid grey;
    position: absolute;
    right: -871px;
    top: 69px;
    width: 900px;
    border-bottom-right-radius: 100%;
}

.pg8HeadingText {
    font-size: small;
    letter-spacing: 0.1px;
}

.pg8MainContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%
}

.pg8SliderContainer {
    /* border: solid yellow; */
    width: 91%;
    height: 100%;
    cursor: grab;
}

.pg8SliderContent {
    /* border: solid green; */
    height: 450px;

}

.pg8SliderInnerContent {
    /* border: solid magenta; */
    width: 90%;
    height: 90%;
    margin-top: 30px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transition: 600ms ease-in-out;
    box-shadow: 0px -10px 10px black;
}

.pg8SliderInnerContent:hover {
    transform: translateY(-10px);
}

#pg8SliderItem1 {
    /* border: solid red; */
    height: 185px;
    width: 90%;
}

#pg8SliderItem2 {
    /* border: solid blue; */
    height: 40%;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#pg8SliderItem2>h2 {
    font-size: large;
}

.pg8SliderItemLine {
    border: 1px solid;
    width: 90%;
}

#pg8SliderItem2>span {
    font-size: 12px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.pg8SliderOuterFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.pg8SliderOuterFrame>img {
    width: 100%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg8SliderButton {
    width: 80px;
    height: 30px;
    border: 2px solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;

}

.pg8SliderInnerButton {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pg8SliderBtnCover {
    position: absolute;
    background-color: #535a63;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1;
    transition: 300ms ease-in-out;
}

.pg8SliderInnerButton>span {
    transition: 300ms ease-in-out;
}

.pg8SliderButton:hover .pg8SliderInnerButton>span {
    color: white;
}

.pg8SliderButton:hover .pg8SliderBtnCover {
    transform: translateX(0%);
}

@media screen and (max-width:600px) {

    #pg8HeadingInnerContent2 {
        /* border: solid blue; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pg8Container {
        /* border: solid red; */
        height: 700px;
        width: 700px;
        margin-top: 50px;
    }

    #pg8HeadingInnerContent1 {
        display: none;
    }

    .pg8SliderContent {
        /* border: solid green; */
        height: 550px;

    }

    .pg8SliderInnerContent {
        /* border: solid magenta; */
        width: 65%;
        height: 90%;
        margin-top: 30px;
        margin-left: 105px;

    }

    #pg8SliderItem1 {
        /* border: solid red; */
        height: 185px;
        width: 90%;
    }

    #pg8SliderItem2>h2 {
        font-size: x-large;
    }

    .pg8SliderOuterFrame>img {
        width: 100%;
        height: 180px;

    }

    #pg8SliderItem2>span {
        font-size: 17px;
        font-weight: bold;
        color: black;
        letter-spacing: 1px;
    }


}

@media screen and (max-width:990px) and (min-width:600px) {
    #pg8HeadingInnerContent2 {
        /* border: solid blue; */
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pg8HeadingInnerContent2 {
        /* border: solid blue; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pg8Container {
        /* border: solid red; */
        height: 700px;
        width: 768px;
        margin-top: 50px;
    }

    #pg8HeadingInnerContent1 {
        display: none;
    }

    .pg8SliderContent {
        /* border: solid green; */
        height: 550px;
        width: 100px;

    }

    .pg8SliderInnerContent {
        /* border: solid magenta; */
        width: 90%;
        height: 90%;
        margin-top: 30px;

    }

    #pg8SliderItem1 {
        /* border: solid red; */
        height: 185px;
        width: 90%;
    }

    #pg8SliderItem2 {
        /* border: solid blue; */
        height: 40%;
        width: 90%;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    #pg8SliderItem2>h2 {
        font-size: medium;
    }

    .pg8SliderOuterFrame>img {
        width: 100%;
        height: 180px;
    }

    #pg8SliderItem2>span {
        font-size: small;
        font-weight: lighter;
        color: black;
    }
}