.pg4Container {
    /* border: solid red; */
    height: 550px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: sandybrown;
}

.pg4HeadingContainer {
    /* border: solid red; */
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pg4HeadingContent {
    /* border: solid blue; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#pg4HeadingContent2 {
    /* border: solid; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    margin-top: 10px;
}

.pg4HeadingInnerContent {
    /* border: solid; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#pg4HeadingInnerContent1 {
    position: relative;
    width: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pg4HeadingInnerContent2 {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#pg4HeadingInnerContent2>h1 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
}

.headerPg4Dot {
    border: solid grey;
    background-color: grey;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.headerPg4Line1 {
    border: 1px solid grey;
    position: absolute;
    right: 6px;
    width: 21.5px;

}

.headerPg4Line2 {
    border: 1px solid grey;
    position: absolute;
    right: 26px;
    top: 35px;
    height: 35px;

}

.headerPg4Line3 {
    border: 1px solid grey;
    position: absolute;
    right: -872.5px;
    top: 69px;
    width: 900px;
    border-bottom-right-radius: 100%;
}

.pg4HeadingText {
    font-size: small;
    letter-spacing: 0.1px;
    color: white;
}

.pg4MainContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%
}

.pg4SliderContainer {
    /* border: solid yellow; */
    width: 91%;
    height: 100%;
    cursor: grab;
}

.pg4SliderContent {
    /* border: solid green; */
    height: 350px;

}

.pg4SliderInnerContent {
    /* border: solid; */
    width: 90%;
    height: 100%;
    margin-left: 13px;

}


#pg4SliderItem1 {
    /* border: solid red; */
    height: 75%;
    background-color: rgba(255, 255, 255, 0.804);
}

#pg4SliderItem2 {
    /* border: solid blue; */
    height: 20%;
    margin-top: 10px;
    color: white;
}

#pg4SliderItem2>span {
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

.pg4SliderOuterFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.pg4SliderOuterFrame>img {
    width: 95%;
    height: 244px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg4SliderInnerFrame {
    /* border: solid; */
    background-color: rgba(0, 0, 0, 0.599);
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0;
    margin-top: 7px;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 600ms ease-in-out;
    transform: scale(0);

}

.pg4SliderOuterFrame:hover .pg4SliderInnerFrame {
    transform: scale(1);
    opacity: 1;
}

.ps4SliderBlock {
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 30%;
    opacity: 1;
    transition: 200ms ease-in-out;

}

#pg4SliderIconBlock {
    border: 1px solid white;
    height: 65%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.pg4SliderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50%;
    width: 50%;
}

/* .pg4SliderInnerFrame:hover .ps4SliderBlock {
    opacity: 1;
} */

#pg4SliderIconBlock:hover {
    background-color: white;
}

#pg4SliderIconBlock:hover .pg4SliderIcon {
    color: sandybrown;
}

@media screen and (max-width:600px) {
    #pg4HeadingInnerContent2 {
        /* border: solid blue; */
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pg4HeadingContainer {
        /* border: solid red; */
        height: 180px;
        width: 90%;
    }

    .pg4Container {
        /* border: solid red; */
        height: 550px;
        width: 700px;

    }

    #pg4HeadingInnerContent1 {
        display: none;
    }

    .pg4SliderContent {
        /* border: solid green; */
        height: 350px;
    }

    .pg4SliderItem {
        margin-left: 50px;
    }

    #pg4SliderItem1 {
        /* border: solid red; */
        height: 80%;
        width: 300px;
        margin-left: 160px;
    }

    #pg4SliderItem2 {
        /* border: solid blue; */
        height: 20%;
        margin-top: 10px;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .pg4SliderOuterFrame>img {
        width: 95%;
        height: 250px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:990px) and (min-width:600px) {
    #pg4HeadingInnerContent2 {
        /* border: solid blue; */
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pg4Container {
        /* border: solid red; */
        height: 550px;
        width: 768px;

    }

    #pg4HeadingInnerContent1 {
        display: none;
    }

    #pg4SliderIconBlock {
        height: 45%;
        width: 22%;


    }
}