.pg1Container {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1512453979798-5ea266f8880c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  bottom: 1px;
  z-index: 1;
  position: absolute;
}

.innerContainer {
  /* border: solid; */
  height: 100%;
  /* background-color: rgba(0, 157, 255, 0.38); */
  background-color: rgba(255, 164, 36, 0.38);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.headingContainer {
  /* border: solid; */
  height: 140px;
  width: 45%;
  margin-left: 100px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingLogoContainer {
  /* border: solid; */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingLogoContainer > img {
  height: 75%;
  width: 90%;
}

.heading1Container {
  /* border: solid; */
  width: 80%;
  height: 100%;
}

.headingTxt1 > h1 {
  font-size: 80px;
  color: white;
}

.headingTxt2 > h1 {
  font-size: 30px;
  letter-spacing: 3px;
  color: white;
}

.ribContainer {
  border: solid white;
  margin-top: 40px;
  width: 500px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ribContainer > h2 {
  color: white;
}

.lRib1 {
  border-top: solid white;
  width: 36px;
  position: absolute;
  left: -36px;
  top: 8px;
}

.lRib2 {
  border-top: solid white;
  width: 25px;
  position: absolute;
  left: -39px;
  top: 18px;
  transform: rotate(-130deg);
}

.lRib3 {
  border-top: solid white;
  width: 25px;
  position: absolute;
  left: -39px;
  top: 37px;
  transform: rotate(130deg);
}

.lRib4 {
  border-top: solid white;
  width: 44px;
  position: absolute;
  left: -36px;
  top: 47px;
}

.lRib5 {
  border-top: solid white;
  width: 15px;
  position: absolute;
  left: -4px;
  top: 42px;
  transform: rotate(50deg);
}

.lRib6 {
  border-top: solid white;
  width: 10px;
  position: absolute;
  left: 3px;
  top: 42px;
  transform: rotate(90deg);
}

.rRib1 {
  border-top: solid white;
  width: 36px;
  position: absolute;
  right: -36px;
  top: 8px;
}

.rRib2 {
  border-top: solid white;
  width: 25px;
  position: absolute;
  right: -39px;
  top: 18px;
  transform: rotate(130deg);
}

.rRib3 {
  border-top: solid white;
  width: 25px;
  position: absolute;
  right: -39px;
  top: 37px;
  transform: rotate(-130deg);
}

.rRib4 {
  border-top: solid white;
  width: 44px;
  position: absolute;
  right: -36px;
  top: 47px;
}

.rRib5 {
  border-top: solid white;
  width: 15px;
  position: absolute;
  right: -4px;
  top: 42px;
  transform: rotate(-50deg);
}

.rRib6 {
  border-top: solid white;
  width: 10px;
  position: absolute;
  right: 3px;
  top: 42px;
  transform: rotate(-90deg);
}

.regContainer {
  /* border: solid; */
  margin-top: 50px;
  width: 1000px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#regContent1 {
  width: 500px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: lighter;
}

#regContent1 > span {
  color: white;
}

#regContent2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  /* border: solid; */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}

.icon {
  color: rgb(177, 177, 177);
}

.item > input {
  width: 80%;
  height: 97%;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: large;
}

.item > input::placeholder {
  text-align: center;
  font-size: medium;
}

#regContent3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.regItem1 {
  /* border: solid; */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #ffa06d;
  position: relative;
  overflow: hidden;
}

.regInnerContent {
  /* border: solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  position: absolute;
  transform: translateX(-100%);
  transition: 600ms ease-in-out;
  background-color: #535a63;
}

.innerRegItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
}

.icon2 {
  color: white;
}

.textContainer > span {
  font-weight: bold;
  color: white;
}

.regItem1:hover .regInnerContent {
  transform: translateX(0%);
}

@media screen and (max-width: 600px) {
  .pg1Container {
    height: 775px;
    width: 700px;
    top: 0px;
    background-position: -250px;
  }

  .headingContainer {
    /* border: solid; */
    height: 140px;
    width: 600px;
    margin-top: 10px;
    margin-left: -10px;
  }

  .headingLogoContainer {
    width: 25%;
    margin-left: 30px;
  }

  .headingLogoContainer > img {
    height: 65%;
    width: 70%;
  }

  .heading1Container {
    width: 70%;
  }

  .ribContainer {
    margin-top: 10px;
  }

  .lRib1,
  .lRib2,
  .lRib3,
  .lRib4,
  .lRib5,
  .lRib6,
  .rRib1,
  .rRib2,
  .rRib3,
  .rRib4,
  .rRib5,
  .rRib6 {
    display: none;
  }

  .regContainer {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #regContent2 {
    height: 250px;
    flex-direction: column;
  }

  .item {
    width: 90%;
    height: 70px;
  }

  #regContent3 {
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 6px;
  }

  .regItem1 {
    width: 90%;
    height: 70px;
  }
}

@media screen and (max-width: 990px) and (min-width: 600px) {
  .pg1Container {
    height: 550px;
    width: 768px;
    background-position: -50px;
    top: 0px;
  }

  .headingContainer {
    height: 140px;
    width: 600px;
    margin-top: 60px;
    margin-left: -10px;
  }

  .headingLogoContainer {
    width: 25%;
    margin-left: 30px;
  }

  .headingLogoContainer > img {
    height: 65%;
    width: 70%;
  }

  .heading1Container {
    width: 70%;
  }

  .ribContainer {
    margin-top: 10px;
  }

  .lRib1,
  .lRib2,
  .lRib3,
  .lRib4,
  .lRib5,
  .lRib6,
  .rRib1,
  .rRib2,
  .rRib3,
  .rRib4,
  .rRib5,
  .rRib6 {
    display: none;
  }

  .regContainer {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }

  #regContent2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .item {
    width: 30%;
    height: 70px;
  }

  #regContent3 {
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .regItem1 {
    width: 40%;
    height: 70px;
  }
}
